.border {
    border-style : solid;
    border-width: medium;
    border-color: #171717;
    width: 400px
}

#map {
    padding-left: 1%;
    padding-top: 1%;
}

#connectButton {
    background-color: #2E82FF; /* Blue */
    border: none;
    color: white;
    padding: 15px 48px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#connectButton:hover {
    background-color: #256ee2;
    color: #EEEEEE;
}

#connectButton:active {
    background-color: #1d3c6d;
    color: #CCCCCC;
}

div#markers {
    /* Align ROS3D window */
    margin-left: 42%;
    text-align: center;
}
div#header {
    /* Text Settings */
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    /* Alignment Settings */
    text-align: center;
}
div#header h1 {
    font-size: 32px;
}
div#header h2 {
    font-size: 16px;
}

